Python Libraries Utilized

PIL (Pillow): Image cropping, resizing, and format changes.

piexif: Exclusively addresses removal of EXIF information from images.

PyMuPDF (fitz): Used to remove and modify metadata from PDFs.

mutagen: Responsible for stripping metadata from audio tracks such as MP3, FLAC, and AAC.

python-docx: Used to modify metadata in Microsoft Word documents.

hachoir: Assists with low-level file parsing and metadata extraction.

NumPy: Used for more advanced mathematical and data manipulation tasks.